@media screen and (min-width:416px) {

    /*-------INICIO-------*/
    .contenedorMain{
        grid-template-rows: 100px 240px 130px 130px;
    }

    /*-------NOSOTROS-------*/
    .contenedorJuegos{
        .juego{
            .textoJuegos{
                .tituloJuegos{
                    font-size: 15px;
                }
                .parrafoJuegos{
                    font-size: 13px;
                }
            }
        }
    }

    /*-------PERSONAJES-------*/
    .contenedorPersonajes{
        .contBrawl{
            .estadisticasBrawl{
                grid-template-columns: 40% 1fr;
                grid-template-rows: 130px 290px 215px;
                .ataque{
                    grid-template-rows: 20px 20px 90px 20px 50px 20px 50px;
                }
                .super{
                    grid-template-rows: 20px 20px 80px 20px 50px;
                    .jacky{
                        top: -10px;
                    }
                }
            }
        }
    }

    /*-------MULTIMEDIA-------*/
    .galeria{
        grid-template-rows: repeat(18, 220px);
    }

    /*-------TEMPORADAS-------*/
    .contTemporadas{
        .contTemp{
            .imageTemp{
                .carga{
                    img{
                        margin-left: -15.5px;
                    }
                }
                .carga2{
                    img{
                        margin-left: -19.5px;
                    }
                }
            }
            .infoTemp{
                margin-left: -26px;
            }
            .infoTemp2{
                margin-left: -30px;
            }
        }
    }

    /*-------ACTUALIZACIONES-------*/
    .contActualizaciones{
        .contAct{
            .imageAct{
                .cargaAct{
                    img{
                        margin-left: -15.5px;
                    }
                }
                .cargaAct2{
                    img{
                        margin-left: -19.5px;
                    }
                }
            }
            .infoAct{
                align-items: center;
                margin-left: -56px;
            }
            .infoAct2{
                margin-left: -59px;
                align-items: center;
            }
        }
    }
}