@media screen and (min-width:416px) {

    /*-------PORTADA-------*/
    .contPortada{
        @include sizes(100%, 34vh);
    }

    /*-------INICIO-------*/
    .contenedorMain{
        grid-template-rows: 100px 240px 130px 130px;
    }

    /*-------NOSOTROS-------*/
    .contenedorJuegos{
        .juego{
            .textoJuegos{
                .tituloJuegos{
                    font-size: 15px;
                }
                .parrafoJuegos{
                    font-size: 13px;
                }
            }
        }
    }

    /*-------PERSONAJES-------*/
    .contenedorPersonajes{
        .contBrawl{
            .estadisticasBrawl{
                grid-template-columns: 40% 1fr;
                grid-template-rows: 130px 100px 170px 290px 215px;
                .ataque{
                    grid-template-rows: 20px 20px 90px 20px 50px 20px 50px;
                }
                .super{
                    grid-template-rows: 20px 20px 80px 20px 50px;
                    .jacky2{
                        top: -10px;
                    }
                }
            }
        }
    }

    /*-------MULTIMEDIA-------*/
    .galeria{
        grid-template-rows: repeat(18, 220px);
    }

    /*-------TEMPORADAS-------*/
    .contTemporadas{
        .contTemp{
            .imageTemp{
                .tituloTemp{
                    top: 75px;
                    right: 45px;
                }
                .banner{
                    width: 85%;
                }
            }
            .infoTemp{
                margin-left: -52px;
                p{
                    padding-left: 4.7rem;
                }
            }
        }
    }

    /*-------ACTUALIZACIONES-------*/
    .contActualizaciones{
        .contAct{
            .imageAct{
                .tituloAct{
                    top: 75px;
                    right: 45px;
                }
                .bannerAct{
                    width: 85%;
                }
            }
            .infoAct{
                align-items: center;
                margin-left: -81px;
                ul{
                    padding-left: 7rem;
                }
                .contButton{
                    padding-left: 14rem;
                }
            }
        }
    }
}