@media screen and (min-width:576px){

    /*-------PORTADA-------*/
    .contPortada{
        @include sizes(100%, 48vh);
    }

    /*-------MENU DESPLEGABLE-------*/
    .menuDesplegable{
        left: auto;
        width: 250px;
        top: 80px;
    }

    /*-------SUMARIO-------*/
    .sumarioDesplegable{
        left: auto;
        width: 350px;
        right: 3rem;
        li{
            a{
                font-size: 17px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    /*-------INICIO-------*/
    .contenedorMain{
        grid-template-rows: 100px 200px 160px 160px;
        .carouselMain{
            width: 530px;
        }
    }

    /*-------PERSONAJES-------*/
    .contenedorPersonajes{
        .contBrawl{
            .estadisticasBrawl{
                grid-template-columns: 50% 1fr;
                grid-template-rows: 200px auto;
                .salud{
                    grid-template-rows: repeat(4, auto);
                    .contSalud1{
                        .tituloSalud1{
                            font-size: 23px;
                        }
                    }
                    .infoSalud{
                        margin-top: -50px;
                        p{
                            font-size: 15px;
                        }
                    }
                }
                .ataque{
                    grid-column: 1/2;
                    grid-row: 2/3;
                    grid-template-rows: 20px 20px 130px 20px 50px 20px 50px;
                    margin: 20px 0;
                    .jacky1{
                        top: 5px;
                    }
                }
                .super{
                    grid-column: 2/3;
                    grid-row: 2/3;
                    grid-template-rows: 20px 20px 200px 20px 50px;
                    margin: 20px 0;
                    .barley, .carl, .jacky2, .gus{
                        top: 5px;
                    }
                    .masDaño{
                        line-height: 85%;
                        bottom: 5px;
                    }
                }
            }
        }
    }

    /*-------TEMPORADAS-------*/
    .contTemporadas{
        margin: 40px 0;
        grid-template-rows: repeat(4, 260px);
        gap: 20px;
        align-items: center;
        .contTemp{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 250px;
            justify-items: center;
            align-items: center;
            .imageTemp{
                .banner, .banner2{
                    margin-left: -5px;
                }
                .tituloTemp{
                    h4{
                        font-size: 15px;
                    }
                    .nombreTemp{
                        font-size: 20px;
                    }
                }
            }
            .infoTemp, .infoTemp2{
                @include sizes(110%, 85%);
                margin-left: -55px;
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid black;
                display: grid;
                align-items: center;
                p{
                    padding: 8px 8px 8px 41px;
                }
            }
        }
    }

    /*-------ACTUALIZACION-------*/
    .contActualizaciones{
        margin: 40px 0;
        grid-template-rows: repeat(4, 260px);
        gap: 20px;
        align-items: center;
        .contAct{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 250px;
            justify-items: center;
            align-items: center;
            .imageAct{
                .bannerAct, .bannerAct2{
                    margin-left: -5px;
                }
                .tituloAct{
                    h4{
                        font-size: 14px;
                    }
                    .nombreAct{
                        font-size: 20px;
                    }
                }
                .cargaAct, .cargaAct2{
                    img{
                        margin-left: -13px;
                    }
                }
            }
            .infoAct, .infoAct2{
                padding: 0%;
                @include sizes(110%, 80%);
                margin-left: -55px;
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid black;
                display: grid;
                align-items: center;
                justify-items: center;
                grid-template-rows: auto 30px;
                ul{
                    padding: 8px 8px 8px 41px;
                    li{
                        font-size: 14px ;
                    }
                }
                .contButton{
                    padding: 0;
                }
            }
        }
    }
}