@media screen and (min-width:600px){
    /*-------PERSONAJES-------*/
    .contenedorPersonajes{
        .contBrawl{
            .estadisticasBrawl{
                .ataque{
                    .jacky1{
                        top: -10px;
                    }
                }
                .super{
                    .barley, .gus{
                        top: -10px;
                    }
                    .masDaño{
                        top: 0px;
                    }
                }
            }
        }
    }
}