@media screen and (min-width:600px){
    /*-------PERSONAJES-------*/
    .contenedorPersonajes{
        .contBrawl{
            .estadisticasBrawl{
                .super{
                    .colt{
                        margin-left: 1.3rem;
                    }
                    .brock{
                        margin-top: -20px;
                    }
                    .barley{
                        margin-left: 1.3rem;
                    }
                    .poco{
                        margin-top: -20px;
                    }
                }
            }
        }
    }
}