.contActualizaciones{
    display: grid;
    justify-items: center;
    .contAct{
        width: 100%;
        display: flex;
        flex-direction: column;
        .imageAct{
            margin-left: -6px;
            .tituloAct{
                width: 90%;
                position: relative;
                top: 65px;
                z-index: 100;
                h4{
                    font-size: 18px;
                    text-align: right;
                    color: white;
                    -webkit-text-stroke: 0.7px black;
                }
                .nombreAct{
                    font-size: 22px;
                }
            }
            .bannerAct{
                display: flex;
                width: 95%;
                position: relative;
                img{
                    width: 100%;
                    transform: skew(-3deg);
                }
            }
        }
        .infoAct{
            width: 95%;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-left: -38px;
            margin-top: -15px;
            padding: 15px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            ul{
                li{
                    text-align: left;
                }
            }

            .contButton{
                padding: 20px;
                .button {
                    cursor: pointer;
                    display: inline-block;
                    color: white;
                    background-color: black;
                    padding: 0.2rem 1rem;
                    border-radius: 0.25rem;
                }

                /*-------ANIMACION DESLIZAR HACIA LA DERECHA-------*/
                .hvr-sweep-to-right:before {
                    background: #f01919;
                    border-radius: 0.25rem;
                }
            }
        }
    }
}