.contActualizaciones{
    display: grid;
    justify-items: center;
    .contAct{
        width: 100%;
        display: flex;
        flex-direction: column;
        .imageAct{
            margin-left: -6px;
            .bannerAct, .bannerAct2{
                display: flex;
                width: 95%;
                position: relative;
                img{
                    width: 99.8%;
                    filter: blur(2px);
                }
            }
            .bannerAct2{
                img{
                    transform: skewX(-4.6deg);
                }
            }
            .tituloAct{
                width: 90%;
                position: relative;
                margin-top: -60px;
                margin-bottom: 15px;
                h4{
                    font-size: 18px;
                    text-align: right;
                    color: white;
                    -webkit-text-stroke: 0.7px black;
                }
                .nombreAct{
                    font-size: 22px;
                }
            }
            .cargaAct, .cargaAct2{
                width: 95%;
                img{
                    border-top: 5px solid black;
                    margin-left: -12.5px;
                    margin-top: -3px;
                    width: 100%;
                    transform: skewX(-4.6deg);
                }
            }
            .cargaAct2{
                img{
                    margin-left: -15.5px;
                }
            }
        }
        .infoAct, .infoAct2{
            width: 95%;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-left: -51px;
            margin-top: -15px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            ul{
                li{
                    text-align: left;
                }
            }

            .contButton{
                padding: 20px;
                .button {
                    cursor: pointer;
                    display: inline-block;
                    color: white;
                    background-color: black;
                    padding: 0.2rem 1rem;
                    border-radius: 0.25rem;
                }
                .button:hover{
                    background-color: #f01919;
                    color: black;  
                }
            }
        }
        .infoAct2{
            margin-left: -54px;
        }
    }
}