.allRedes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .redes1{
        padding: 10px;
        width: 65px;
    }
    .redes2{
        padding: 10px;
        width: 45px;
    }
}

.descargar{
    display: grid;
    justify-items: center;
    .descargas{
        height: 40px;
        margin: 10px;
    }
}