@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap');

@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(246,246,246,255);
}

header{
    background-color: black;
    @include sizes(auto, 100px);
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

ul,li,h1,h2,h4,a{
    font-family: 'Lilita One', cursive;
    text-align: center;
}

h1{
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

h2{
    font-size: 20px;
    margin: 20px;
}

h3{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoBrawl{
    @include sizes(100px, 100px)
}

.contPortada{
    @include sizes(100%, 30vh);
    overflow: hidden;
    .portada{
        @include sizes(100%, 100%);
        object-fit: cover;
    }
}

/*-------NAVBAR-------*/
nav{
    display: flex;
    @include sizes(100%, 60px);
    max-width: 1200px;
    margin: 0 auto  ;
    align-items: center;
    justify-content: space-between;
    .logoBrawl{
        display: none;
    }
    img{
        height: 50px;
    }
    ul{
        padding-left: 2rem;
        display: flex;
        gap: 2rem;
        display: none;
        li{
            list-style: none;
            a{
                text-decoration: none;
            }
            a:hover{
                color: #f01919;
            }
        }
    }
    .toggle_btn{
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
    }
} 
header{
    position: sticky;
    top: 0%;
    padding: 0 2rem;
    height: 70px;
    display: grid;
    align-items: center;
    z-index: 250;
}

/*-------SUMARIO-------*/

.barraSumario{
    height: 0;
    bottom: 10%;
    right: 5%;
    position: fixed;
    transform: translateX(3%);
    z-index: 200;
    .botonSumario{
        background-color:#f01919;
        border-radius: 50%;
        cursor: pointer;
        @include sizes(50px, 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }
    .hvr-rectangle-out:before{
        border-radius: 50%;
        background: rgba(242,198,60,255);
    }
}
.sumarioDesplegable{
    position: fixed;
    right: 2rem;
    left: 1rem;
    bottom: 7%;
    max-height: 0;
    background: rgba(255, 255, 255, 0.363);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: max-height 0.5s linear;
    z-index: 195;
    overflow-y: auto;
    list-style-type: none;
    li{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a{
            color: black;
        }
        a:hover{
            color: #f01919;
        }
        ul{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}
.sumarioDesplegable::-webkit-scrollbar{
    width: 7px;
}
.sumarioDesplegable::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
}
.sumarioDesplegable.open{
    max-height: 300px;
}

/*-------AGREGA MARGIN TOP PARA EL SUMARIO-------*/
:target {
    scroll-margin-top: 90px;
}