.menuDesplegable{
    position: absolute;
    right: 2rem;
    left: 2rem;
    top: 90px;
    max-height: 0;
    background: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
    z-index: 150;
    li{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            color: black;
        }
        a:hover{
            color: #f01919;
        }
    }
}

.menuDesplegable.open{
    max-height: 350px;
}