.contenedorServidores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #ccc;
    flex-direction: column-reverse;
    .imageServidores{
        @include sizes(90%, auto);
        margin: 20px 0;
    }
    .textoServidores{
        display: block;
        width: 90%;
        .parrafoServidores{
            margin: 10px 0; 
        }
    }
}

.contenedorServidores2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    flex-direction: column;
    .parrafoServidores2{
        width: 90%;
        margin: 10px;
    }
    .carouselServidores2{
        margin: 10px;
        @include sizes(90%, auto);
        border: 3px solid black;
        .imagesCarousel{
            display: none;
        }
        .imagesCarousel2{
            width: 100%;
        }
    }
}

.contenedorModos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px auto;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #ccc;
    .imageGenio{
        @include sizes(auto, 250px);
        display: none;
    }
    .parrafoModos{
        width: 90%;
        margin: 0%;
    }
    .imageTick{
        @include sizes(auto, 250px);
        display: none;
    } 
    .imageElprimo{
        width: 90%;
        padding: 20px;
    }
}

.contenedorJuegos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 170px);
    justify-items: center;
    align-items: center;  
    margin: 20px 0 ;
    .juego{
        display: flex;
        @include sizes(90%, 160px);
        border-radius: 6px;
        align-items: center;
        .image{
            @include sizes(70px, 70px);
            padding: 10px;
            margin: 10px;
        }
        .textoJuegos{
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
            .tituloJuegos{
                color: white;
                margin: 0;
                font-weight: bolder;
                font-size: 12px;
            }      
            .parrafoJuegos{
                font-size: 11px;
                text-align: left;
                margin: 0 10px 10px 10px;
                color: white;
            }
        }
    }
    .atrapaGemas{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/map_4.png);
        background-position: -78% 0;
    }
    .supervivencia{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/map_2.png.png);
        background-position: -58% 0;
    }
    .balonBrawl{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/map_16.png.png);
        background-position: -100% 0;
    }
    .cazaEstelar{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/map_15.png);
        background-position: 10% 0;
    }
    .zonaRestringida{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/map_13.png);
        background-position: 38% 0;
    }
    .atraco{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/map_5.png);
        background-position: 85% 0;
    }
}