.mainPersonajes{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #ccc;
    p{
        width: 90%;
        height: auto;
    }
}

.contenedorPersonajes{
    display: grid;
    justify-items: center;
    gap: 20px;
    border-top: 1px solid #ccc;
    .contBrawl{
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        border-radius: 5px;
        width: 90%;
        margin: 20px 0;
        .nombreBrawl{
            background-color: rgba(148,215,244,255) ;
            color: rgba(254,255,255,255);
            -webkit-text-stroke: 0.5px black;
            border-bottom: 2px solid black;
        }
        .especial{
            background-color: rgba(44,198,50,255);
        }
        .estadisticasBrawl{
            background-color: rgba(16,92,229,255);
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-template-rows: 130px 340px 215px;
            align-items: center;
            justify-items: center;
            gap: 10px;
            .contImage{
                background-color: rgba(246,246,246,255);
                width: 100%;
                height: 100%;
                border: 2px solid black;
                grid-column: 1/2;
                grid-row: 1/2;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .salud{
                grid-column: 2/3;
                grid-row: 1/2;
                width: 90%;
                height: 90%;
                background-color: rgba(9,136,243,255);
                border-radius: 5px;
                display: grid;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-template-columns: 100%;
                grid-template-rows: repeat(4, 30px);
                .tituloSalud1{
                    font-size: 20px;
                    position: relative;
                    left: -25px;
                    -webkit-text-stroke: 0.9px black;
                    color: rgba(5,199,5,255);
                }
                .tituloSalud2{
                    font-size: 20px;
                    position: relative;
                    left: -10px;
                    -webkit-text-stroke: 0.9px black;
                    color: rgba(5,199,5,255);
                }
                .infoSalud{
                    color: rgba(247,251,251,255);
                    margin-top: -25px;
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    p{
                        font-size: 13px;
                    }
                }
            }
            .ataque{
                grid-column: 1/3;
                grid-row: 2/3;
                width: 95%;
                background-color: rgba(9,136,243,255);
                border-radius: 5px;
                display: grid;
                align-items: center;
                justify-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 20px 20px 130px 20px 50px 20px 50px;
                .titleAtaque1{
                    grid-column: 1/3;
                    grid-row: 1/2;
                    font-size: 25px;
                    color: rgba(253,58,124,255);
                    -webkit-text-stroke: 0.2px black;
                    margin-top: -25px;
                    margin-left: -140px;
                }
                .titleAtaque2{
                    grid-column: 1/3;
                    grid-row: 2/3;
                    font-size: 25px;
                    color: rgba(247,251,251,255);
                    -webkit-text-stroke: 0.2px black;
                    margin-top: -20px;
                    margin-left: -90px;
                }
                .nita{
                    margin-left: -125px
                }
                .colt{
                    margin-left: -90px
                }
                .bull{
                    margin-left: -50px
                }
                .brock{
                    margin-left: -146px
                }
                .primo{
                    margin-left: -50px
                }
                .barley{
                    margin-left: -80px
                }
                .poco{
                    margin-left: -120px
                }
                .rosa{
                    margin-left: -25px;
                }
                .parrafoAtaque{
                    grid-column: 1/3;
                    grid-row: 3/4;
                    width: 90%;
                    color: rgba(247,251,251,255);
                }
                .tituloAtaque1{
                    grid-column: 1/2;
                    grid-row: 4/5;
                    color: rgba(253,58,124,255);
                    -webkit-text-stroke: 0.2px black;
                    position: relative;
                    left: -30px;
                }
                .tituloAtaque2{
                    grid-column: 2/3;
                    grid-row: 4/5;
                    color: rgba(253,58,124,255);
                    -webkit-text-stroke: 0.2px black;
                    position: relative;
                    left: -20px;
                }
                .infoAtaque1{
                    grid-column: 1/2;
                    grid-row: 5/6;
                    color: rgba(247,251,251,255);
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    margin-top: -25px;
                }
                .infoAtaque2{
                    grid-column: 2/3;
                    grid-row: 5/6;
                    color: rgba(247,251,251,255);
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    margin-top: -25px;
                }
                .tituloAtaque3{
                    grid-column: 1/3;
                    grid-row: 6/7;
                    color: rgba(253,58,124,255);
                    -webkit-text-stroke: 0.2px black;
                    position: relative;
                    left: -30px;
                }
                .infoAtaque3{
                    grid-column: 1/3;
                    grid-row: 7/8;
                    color: rgba(247,251,251,255);
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    margin-top: -25px;
                }
            }
            .super{
                grid-column: 1/3;
                grid-row: 3/4;
                width: 95%;
                background-color: rgba(9,136,243,255);
                border-radius: 5px;
                display: grid;
                align-items: center;
                justify-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 20px 20px 100px 20px 50px;
                .titleSuper1{
                    grid-column: 1/3;
                    grid-row: 1/2;
                    font-size: 25px;
                    color: rgba(242,198,60,255);
                    -webkit-text-stroke: 0.2px black;
                    margin-top: -25px;
                    margin-left: -160px;
                }
                .titleSuper2{
                    grid-column: 1/3;
                    grid-row: 2/3;
                    font-size: 25px;
                    color: rgba(247,251,251,255);
                    -webkit-text-stroke: 0.2px black;
                    margin-top: -20px;
                    margin-left: -90px;
                    text-align: left;
                }
                .nita{
                    margin-left: -40px
                }
                .colt{
                    margin-left: 4px
                }
                .bull{
                    margin-left: -100px
                }
                .brock{
                    margin-left: -15px
                }
                .primo{
                    margin-left: -35px
                }
                .barley{
                    margin-left: 10px
                }
                .poco{
                    margin-left: -15px
                }
                .rosa{
                    margin-left: -55px;
                }
                .parrafoSuper{
                    grid-column: 1/3;
                    grid-row: 3/4;
                    width: 90%;
                    color: rgba(247,251,251,255);
                }
                .tituloSuper1{
                    grid-column: 1/2;
                    grid-row: 4/5;
                    color: rgba(242,198,60,255);
                    -webkit-text-stroke: 0.2px black;
                    position: relative;
                    left: -30px;
                }
                .curacion{
                    left: -17px
                }
                .reduccion{
                    left: -16px
                }
                .tituloSuper2{
                    grid-column: 2/3;
                    grid-row: 4/5;
                    color: rgba(242,198,60,255);
                    -webkit-text-stroke: 0.2px black;
                    position: relative;
                    left: -20px;
                }
                .infoSuper1{
                    grid-column: 1/2;
                    grid-row: 5/6;
                    color: rgba(247,251,251,255);
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    margin-top: -25px;
                }
                .infoSuper2{
                    grid-column: 2/3;
                    grid-row: 5/6;
                    color: rgba(247,251,251,255);
                    width: 90%;
                    height: 90%;
                    background-color: rgba(2,51,79,255);
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    margin-top: -25px;
                }
            }
        }
    }
}

.allRedes{
    .redes{
        width: 45px;
    }
}