.contTemporadas{
    display: grid;
    justify-items: center;
    .contTemp{
        width: 100%;
        display: flex;
        flex-direction: column;
        .imageTemp{
            margin-left: -6px;
            .tituloTemp{
                width: 90%;
                position: relative;
                top: 65px;
                z-index: 100;
                h4{
                    font-size: 18px;
                    text-align: right;
                    color: white;
                    -webkit-text-stroke: 0.7px black;
                }
                .nombreTemp{
                    font-size: 22px;
                }
            }
            .banner{
                display: flex;
                width: 95%;
                position: relative;
                img{
                    width: 100%;
                    transform: skew(-3deg);
                }
            }
        }
        .infoTemp{
            width: 95%;
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-left: -9px;
            margin-top: -20px;
            p{
                text-align: center;
                padding: 30px;
            }
        }
    }
}